body{
    font-size: 14px;
    background-color: #FBF6F3;
}

.hero {
    background-color: #5D6C89 !important;
}

.hero h1{
    font-size: 3.5rem;
    color: #36D6E7;
}

.hero h2{
    color: #FEB06A;
}

/*color palette reference 
Cream: #FBF6F3 ; 
Tangerine: #FEB06A ; 
Turquoise: #36D6E7 ; 
Blue Gray: #5D6C89 ;*/
.sectionheader h3{
    font-size: 1rem;
    color: #36D6E7;
    font-weight: bold;
}


.experience h4{
    font-size: 1rem;
    color: #5D6C89;
    font-weight: bold;
}

.experience li{
    margin-bottom: .75rem;
}

.skills ul{
text-align: left;
}

/**/